<!-- <h1 class="color text-center">Formulario de Registro</h1>
<form class="form-group">
    <label for="" class="m-2">Nombre:</label>
    <input type="text"  name="nombre" [(ngModel)]="n" class="form-control">
    <label for="" class="m-2">Correo:</label>
    <input type="text"  name="correo" [(ngModel)]="c" class="form-control">
    <label for="" class="m-2">Telefono:</label>
    <input type="text" name="telefono" [(ngModel)]="t" class="form-control">
    <label for="" class="m-2">Pais:</label>
    <input type="text" name="pais" [(ngModel)]="p" class="form-control">
    <label for="" class="m-2">Mensaje:</label>
    <input type="text" name="mensaje" [(ngModel)]="m" class="form-control">
    <section class="boton">
        <input type="button" value="Guardar"  (click)="Agregar()" class="btn btn-primary my-5">
    </section>
</form>-->


    <h1>{{country}}</h1>
    <table class="table table-hover mx-4">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Pais</th>
                <th>Mensaje</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of lista; let i = index" [ngClass]="{'hidden': row.Pais != country}" >
                <td>{{i+1}}</td>
                <td>{{row.Nombre}}</td>
                <td>{{row.Correo}}</td>
                <td>{{row.Telefono}}</td>
                <td>{{row.Pais}}</td>
                <td>{{row.Mensaje}}</td>
                <td>
                    <button class="btn btn-danger" value={{i}} >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
